@media (max-width: 556px) {
    .card-book .title {
        font-size: 14px;
    }

    .page-link {
        font-size: 12px;
    }
    .list-cate__item span {
        font-size: 14px;
    }

    .list-cate__item {
        padding: 5px;
    }

    .list-cate__item span:before {
        top: 29px;
    }

    .report-list {
        margin: 0;
    }
}